<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="icon" href="lock2.png">
    <title>Document</title>
</head>
<body>
    <div class="page1">
        
        <a class="page2" style="margin-right: 100px;"href="network.html">Page3</a>
        <a class="page2" href="boy.html">Page2</a>
        <a class="page2" href="energy.html">Page1</a>
        <a class="page2" href="contact.html">Contact</a>
        <a class="page2" href="page.html">About</a>
        <a class="page2" id="page3" style="color:rgb(118, 118, 165);"href="home.html">Home</a>
    </div>
    <div class="page4">
        <div class="page5"><h1 class="page6">WEB STUDIO</h1></div>
        <div class="page7"><a href="#">READ MORE</a></div>
        <div class="page8"></div>
        <div class="pag4">
            <div class="pag6">
                <span class="pag7"> <a href="#">template</a> </span> <span class="pag8">created with</span>  <span class="pag9"><a href="#">Nicepage.</a></span>  
             </div>
           </div>
    </div>
    
</body>
</html>