<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="boy.css">
    <link rel="icon" href="lock2.png">
    <title>Document</title>
</head>
<body>
    
    <div class="page13">
        
        <a class="page14" style="margin-right: 100px;"href="network.html">Page3</a>
        <a class="page14" id="page15" style="color:rgb(118, 118, 165);"href="boy.html">Page2</a>
        <a class="page14" href="energy.html">Page1</a>
        <a class="page14"href="contact.html">Contact</a>
        <a class="page14" href="page.html">About</a>
        <a class="page14"href="home.html">Home</a>
    </div>
    <div class="page1">
        <p class="page2">ECO CITY</p>
        <p class="page3">CLEAN ENERGY</p>
       </div>
       <div class="page4">
        <div class="page6">
            <span class="page7"> <a href="#">template</a> </span> <span class="page8">created with</span>  <span class="page9"><a href="#">Nicepage.</a></span>  
         </div>
       </div>
    
</body>
</html>