<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="contact.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="lock2.png">
    <title>Website</title>
</head>
<body>
    <div class="page1">
        
        <a class="page2" style="margin-right: 100px;"href="network.html">Page3</a>
        <a class="page2" href="boy.html">Page2</a>
        <a class="page2" href="energy.html">Page1</a>
        <a class="page2" id="page3" style="color:rgb(118, 118, 165);"href="contact.html">Contact</a>
        <a class="page2" href="page.html">About</a>
        <a class="page2"href="home.html">Home</a>
    </div>
    <div class="page4">
        <div class="page6">We dwelling elegance do shutters appetite yourself diverted.</div>
        <div class="page7">
            <div class="page8"><h4 class="page11">SAMPLE HEADLINE</h4><p class="page10">While we were not the first home cleaning company in the </p><p class="page10">UK, we take pride in being market leaders in introducing an </p><p class="page10">instant online booking system plus the facility for our</p><p class="page10"> customers to login and control their cleaning service 24/7, </p><p class="page10">365 days a year putting you in complete control. </p><button class="page12">READ MORE</button>
                 </div>
            <div class="page9"><h4 class="page11"style="color:white;font-size:15px;color:GhostWhite;">SAMPLE HEADLINE</h4><p class="page10"style="color:white;">As a result of our philosophy to be the most forward thinking</p><p class="page10"style="color:white;"> home cleaning company and our focus on understanding</p><p class="page10"style="color:white;"> customer needs, we have and will continue to expand across</p><p class="page10"style="color:white;"> the UK with franchises in the southwest of England to the </p><p class="page10"style="color:white;">north east of Scotland with over 50 territories nationwide.</p><button class="page13">READ MORE</button></div>
            
        </div>
    </div>
    <div class="page5"><p class="pag6">Sample text. Click to select the text box.Click again or double</p><p class="pag8">click to start editing the text.</p>
        <div class="pag12"><a class="pag9"href="#">Website Template</a> <span class="pag10">created with</span> <a class="pag11"href="#">Website Builder Software.</a>
        </div></div>
    
</body>
</html>