<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="energy.css">
    <title>Document</title>
    <link rel="icon" href="lock2.png">
</head>
<body>
    <div class="page13">
        
        <a class="page14" style="margin-right: 100px;"href="network.html">Page3</a>
        <a class="page14" href="boy.html">Page2</a>
        <a class="page14"id="page15" style="color:rgb(118, 118, 165);" href="energy.html">Page1</a>
        <a class="page14"href="contact.html">Contact</a>
        <a class="page14" href="page.html">About</a>
        <a class="page14"href="home.html">Home</a>
    </div>
    <div class="page1">
        <h1>Energy is Precious</h1>
        <p class="page4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
        
    </div>
    <div class="page2">
        <div class="page6">
       <span class="page7"> <a href="#">template</a> </span> <span class="page3">created with</span>  <span class="page5"><a href="#">Nicepage.</a></span>  
    </div>
    </div>
    
</body>
</html>