<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="network.css">
   <link rel="icon" href="lock2.png">
    <title>network</title>
</head>
<body>
    <div class="page20">
        
        <a class="page21" id="page23" style="color:rgb(118, 118, 165);margin-right: 100px;"href="network.html">Page3</a>
        <a class="page21" href="boy.html">Page2</a>
        <a class="page21" href="energy.html">Page1</a>
        <a class="page21"href="contact.html">Contact</a>
        <a class="page21"href="page.html">About</a>
        <a class="page21"href="home.html">Home</a>
    </div>
    <div class="page1">
        <p class="page2">Network Solutions</p>
    <p class="page3">ou’ll benefit from having all of your domains and <div class="page4">web services in one place with our streamlined </div><div class="page5">online dashboard and our 24/7 phone and email</div><div class="page6"> support.</div></p>
  <div class="page9">Image by <a style="color:skyblue;text-decoration: none;"href="#">Freepik</a></div></div>

    <div class="page10">
        <div class="page14">
        <span class="page11"><a href="#">Template</a> </span> <span class="page12">created with</span>  <span class="page13"><a href="#">Nicepage.</a></span>
    </div></div>
    
</body>
</html>