<!DOCTYPE html>
<html lang="en">
<head>
    <title>website</title>
    <link rel="icon" href="lock.png">
    <link rel="stylesheet" href="page1.css">
</head>
<body>
    <div class="page13">
        
        <a class="page14" style="margin-right: 100px;"href="network.html">Page3</a>
        <a class="page14" href="boy.html">Page2</a>
        <a class="page14" href="energy.html">Page1</a>
        <a class="page14" href="contact.html">Contact</a>
        <a class="page14"id="page15" style="color:rgb(118, 118, 165);" href="page.html">About</a>
        <a class="page14"href="home.html">Home</a>
    </div>
    <div class="page1">
        <p class="page2">Join Accenture's
            Virtual Program for <p class="page3">New Prespective</p>
        </p>
        <ul>
            <li><a  style="padding-left:470px;" href="#">about us |</a></li>
            
                <li><a href="#">news |</a></li>
            <li><a href="#">reviews |</a></li>
            <li><a href="#">articles |</a></li>
            <li><a href="#">#future</a></li>
        </ul><br><br><br><br><br><br>
        <div class="page4">
            <button>LEARN MORE</button>
        </div>
        <br><br><br><br><br><br>
        <p class="page7">Images from <a href="#">Freepik</a></p>
    </div>
    <div class="page5">
        <p class="page6">Sample text. Click to select the text box.Click again or double</p><p class="page8">click to start editing the text.</p>
        <div class="page12"><a class="page9"href="#">Website Template</a> <span class="page10">created with</span> <a class="page11"href="#">Website Builder Software.</a>
        </div> </div>
    
</body>
</html>